html {
  box-sizing: border-box;
  font: normal 100%/1.5 sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  min-width: 320px;
}

img {
  display: block;
}

.banner {
  background-color: #2b3851;
  position: relative;
  margin: 0;
  padding-top: 2rem;
}

.robot {
  width: 320px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 0;
}

.robot-body {
  width: 320px;
  padding-top: 2rem;
}

.robot-brain {
  width: 46px;
  position: absolute;
  left: 8.5rem;
  top: 40px;
}

.robot-head-right,
.robot-head-left {
  width: 125px;
  position: absolute;
  top: 0;
}

.robot-head-right {
  right: 35px;
}

.robot-head-left {
  left: 35px;
}

.robot:hover .robot-head-left {
  left: 5px;
  top: -10px;
}

.robot:hover .robot-head-right {
  right: 5px;
  top: -10px;
}

.robot:hover .robot-brain {
  top: -5px;
}
